<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/header') %>

    <body id="home-page">
        <%- include ('partials/nav') %>
        <div class="salon-image">
            <div class="container">
                
                <h1>Welcome To PluckyLooks</h1>
                <h4>
                    PluckyLooks is a beauty provider of perfect finish beauty services and solution. We believe that transforming ideas into reality through creativity is the way to completely see the power of beauty.
                </h4>
           
            </div>
        </div>
        <p class="container content">
            <h1>Why Choose Us?</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-user-friends icon"></i>
                            <h2 class="card-title">The Best Stylists</h2>
                            <p class="card-text">We are equipped with a proof of enthusiastic,experieced and talented professionals to solve any task at hand.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-dollar-sign icon"></i>
                            <h2 class="card-title">Save Cost for Value</h2>
                            <p class="card-text">We focus on providivg good, high quality service in a cost effective manner that meets the clients' needs, expectation and budget . Alog with a unique customer insight, commitmet and expertise. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card ">
                            <i class="fas fa-tasks icon"></i>
                            <h2 class="card-title">Our Work</h2>
                            <p class="card-text">Many
                                years of experience working with our clientele which include (young  and old) showiz orgaization and modeling agencies that require professional beauty solution for weddings, occassion, events and everyday self beauty touch. Check our services page for more details and contact page for any help.</p>
                        </div>
                    </div>
                </div>
            </div>
        <%- include ('partials/footer') %>
        </p>
    </body>

</html>