<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/header') %>

    <body id="service4-page">
            <%- include ('partials/nav') %>
        <div class="page container-fluid">
            <div class="main-title row">
                <h1>Our Services</h1>
            </div>
            <div class="row">
                <div class="container-box">
                    <div class="card specBorder-1"><h3>Professional Hairstyling</h3></div>
                    <div class="card"><h3>Hair Care Products & Accessories</h3></div>
                    <div class="card specBorder-2"><h3>Hair Academy</h3></div>
                </div>
            </div>
        </div>

        <%- include ('partials/footer') %>
    </body>

</html>