<!DOCTYPE html>
<html lang="en">

    <body id="home-page">
        <%- include ('partials/nav') %>
        <div class="page container-fluid">
            <div class="main-title row">
                <h1>Offline</h1>
            </div>
            <div class="row">
                <p>
                    This website is only available during working hours (Monday to Friday, from 9 A.M to 5 P.M)
                </p>
            </div>  
        </div>
        <%- include ('partials/header') %>
        <%- include ('partials/script') %>
        <%- include ('partials/footer') %>
    </body>

</html>