<footer class="container-fluid footer fixed-bottom">

    <div class="container">
        <div class="row justify-content-center mt-2">
            <div class="col-12">
            <% let year = (new Date()).getFullYear() %>
            <p>&copy;
                <%= year %> PluckyLooks</p>
            </div>
        </div>

    </div>