<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand">
        <div class="logo">
            <h1>PluckyLooks</h1>
            <h5>Beyoutiful</h5>
          </div>
    </a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="/">Home</span></a>
            <a class="nav-item nav-link" href="services">Our Services</a>
            <a class="nav-item nav-link" href="contact">Contact us</a>
        </div>
    </div>
</nav>